.pokeWrapper {
	margin: 0 3vh 0;
	border: 1px black solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.pokeCell {
	text-transform: capitalize;

	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	margin: 30px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 160px;
	max-width: 165px;
}

.pokeTypesWrapper {
	display: flex;
	flex-wrap: wrap;
}

.pokeType {
	border: 1px black solid;
	border-radius: 5px;
	padding: 4px;
	margin: 4px;
}

.grass {
	background-color: #77cc55;
}

.poison {
	background-color: #aa5599;
}
.normal {
	background-color: #aaaa99;
}
.fighting {
	background-color: #bb5544;
}

.flying {
	background-color: #8899ff;
}

.ground {
	background-color: #ddbb55;
}

.rock {
	background-color: #bbaa66;
}
.bug {
	background-color: #aabb22;
}
.ghost {
	background-color: #6666bb;
}
.steel {
	background-color: #aaaabb;
}
.fire {
	background-color: #ff4422;
}
.water {
	background-color: #3399ff;
}
.electric {
	background-color: #ffcc33;
}
.psychic {
	background-color: #ff5599;
}
.ice {
	background-color: #66ccff;
}
.dragon {
	background-color: #7766ed;
}
.dark {
	background-color: #775544;
}
.fairy {
	background-color: #ee99ee;
}
